<div class="container-fluid bg-white py-5">
  <div class="card flex justify-content-center">
    <div class="flex flex-column gap-2">
      <label class="h5" htmlFor="firstname">FirstName: </label>
      <input class="ms-3" pInputText id="firstname" aria-describedby="username-help"/>
      <small class="ms-4 shadow" id="firstname-help">Enter passenger first name.</small>
    </div>
    <div class="mt-3">
      <label class="h5" htmlFor="lastname">LastName: </label>
      <input class="ms-3" pInputText id="lastname" aria-describedby="username-help"/>
      <small class="ms-4 shadow" id="lastname-help">Enter passenger last name.</small>
    </div>
    <div class="mt-3">
      <label class="h5 me-3" htmlFor="dob">DOB: </label>
      <input class="ms-5" pInputText id="dob" aria-describedby="username-help"/>
      <small class="ms-4 shadow" id="dob-help">Enter passenger date of birth.</small>
    </div>
  </div>
  </div>
