<!--LARGE CARD THAT HOLDS THE BORDERED FORM-->
<div class="container-fluid bg-white py-5 rounded-2">
  <!--  HEADER-->
  <h3>New Passenger</h3>
  <!--BORDERED CARD-->
  <div class="card">
    <!--FirstName INPUT-->
    <div class="d-flex flex-row">
      <label class="h5 flexBasis" htmlFor="firstname">FirstName:</label>
      <div >
        <input class="" pInputText id="firstname" aria-describedby="username-help"/>
        <small class="ms-4" id="firstname-help">Enter passenger first name.</small>
      </div>
    </div>
    <!--LastName INPUT-->
    <div class="d-flex flex-row mt-3">
      <label class="h5 flexBasis" htmlFor="lastname">LastName:</label>
      <div >
        <input  pInputText id="lastname" aria-describedby="username-help"/>
        <small class="ms-4" id="lastname-help">Enter passenger last name.</small>
      </div>
    </div>
    <!--DOB INPUT-->
    <div class="d-flex flex-row mt-3">
      <label class="h5 flexBasis" htmlFor="dob">DOB: </label>
      <div>
        <input pInputText id="dob" aria-describedby="username-help"/>
        <small class="ms-4" id="dob-help">Enter passenger date of birth.</small>
      </div>
    </div>
  </div>
</div>
