ul{list-style-type:none;}
li{
     border-width: 3rem;
     transition: 0.25s;
     box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.2);
}
li:hover{
     cursor: pointer;
     box-shadow: 10px 12px 11px rgba(0, 0, 0, 0.2);
     transform: scale3d(1.05,1.05,1.05);
     transition: 0.25s;
}
.app{}