<button class="btn btn-sm btn-primary mb-1 ms-auto newButton" (click)="test()">TEST</button>
<button class="btn btn-sm btn-primary mb-1 ms-auto newButton" (click)="test123()">123</button>
<p-toast></p-toast>
<div class="container mx-0 px-5 col-xl-5 col-lg-6 col-md-10 col-sm-12 col-12 mt-5 ">
          <!-- PASSENGER COUNTER -->
     <div class="row  mb-5">
          <app-passenger-count class="col-md-6" [items]="Passengers"></app-passenger-count>
     </div>
          <!--  HEADER AND NEW BTN NEXT TO EACH OTHER-->
      <div class="d-flex flex-row">
        <h2>Airline Passengers</h2>
        <button class="btn btn-sm btn-primary mb-1 ms-auto newButton" (click)="newPassenger()"><i class="bi bi-person-plus-fill"></i> Add Passenger</button>
      </div>
     <ul class="app rounded-4">
          <!-- PASSENGER CARD -->
          <li
            class="mb-3 p-3 border border-2 border-primary rounded-4"
           [ngClass]="{'border-success':passenger.checkedIn,'border-danger': !passenger.checkedIn}"
            *ngFor="let passenger of Passengers"
            (click)="showDialog(passenger.id)"
          >
            <app-passenger-card
            [detail]="passenger"
            (remove)="handleRemove($event)"
            (edit)="handleEdit($event)"
            ></app-passenger-card>
          </li>
     </ul>
</div>
<router-outlet></router-outlet>
