<!--  STATUS -->
<span class="status" 
     [ngClass]=" { 
     'checked-in': details.checkedIn,  
     'checked-out': !details.checkedIn
     }"

></span>
<!-- NAME -->
<span
     class="my-0 text-white p-2"
     [ngStyle]="{
     backgroundColor:(details.checkedIn ? '#2ecc71':'#c0392b'),
     borderRadius:'0.7rem'
     }">
{{details.fullname}}</span>

<!-- OTHER DATA -->
<div class="container mt-2 mx-3">
  <div class="date">
      {{ 'Check in date'}}: <span class="fw-bold">{{ details.checkInDate ? (details.checkInDate | date:'longDate') : 'Not checked In' }}</span>
  </div>
  <div class="children">
       {{ 'Children' }}: <span class="fw-bold">{{ details.children?.length || 0}}</span>
  </div>
  <div class="isCheckedIn">
       {{ 'Check In' }}: <span class="fw-bold" [ngStyle]="{color: (details.checkedIn ? '#2ecc71':'#c0392b')}">{{ details.checkedIn ? 'Yes' : "No"}}</span>
  </div>
</div>