/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@font-face {
  font-family: 'Air-America';
  src: url('./assets/fonts/air-americana.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: linear-gradient(
      rgba(255,255,255,0.65),
      rgba(255,255,255,0.65)
  ),
      url("https://source.unsplash.com/2400x1200/?airport");
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Air-America' !important;
}
