.bg-custom {
  background-color:rgba(148, 0, 148,0.80) !important;
}

ul{list-style-type:none;}
li{
  border-width: 3rem;
  transition: 0.25s;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.2);
  padding:0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.americana-font{
  font-family: 'Air-America' !important;

}
