<p-dialog
  [(visible)]="visible"
  [style]="{width: '35vw'}"
  (onHide)="navBack()"
  styleClass="container bg-primary"
>
  @if (passenger) {
    <div class="row justify-content-center americana-font">
      <span class="h3 mb-5">Passenger Details</span>
      <div class="col-md-4">
        <p>ID: </p>
        <p>FULLNAME: </p>
        <p>CHECKED IN: </p>
        <p>CHECKIN DATE: </p>
        <p>CHILDREN: </p>
      </div>
      <div class="col-md-4">
        <p>{{ passenger.id }}</p>
        <p>{{ passenger.fullname }}</p>
        <p>{{ passenger.checkedIn ? 'YES' : 'NO' }}</p>
        <p>{{ passenger.checkInDate ? (passenger.checkInDate | date) : 'No check in ' }}</p>
        <div class="row" *ngIf="Children.length; else noChildren">
          <ul *ngFor="let child of Children">
            <li class="rounded-4">{{ 'Name:' + child.name }}</li>
            <li class="rounded-4">{{ 'Age:' + child.age }}</li>
          </ul>
        </div>
        <ng-template #noChildren>
          <p>No Children</p>
        </ng-template>
      </div>
    </div>
    <div>
      <button
        class="btn btn-outline-warning americana-font"
        (click)="visible = false"
      >CLOSE
      </button>
    </div>
  }
</p-dialog>
