.test {
  background-color:blue;
}

ul{list-style-type:none;}
li{
  border-width: 3rem;
  transition: 0.25s;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.2);
  padding:0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;

}
